.main-wrapper-add {
  margin: 0 50px;
}

.list-box-add{
  padding: 1em 1em;
  margin: 2em 10px;
  font-weight: bold;
  background: #FFF;
  border: solid 1px;
  border-radius: 10px;
}

.margin-add{
  margin: 15px 0;
}

.select-add{
  height: 37px;
  margin: 10px 10px 10px 0;
  width: 210px;
}

.picture{
  display: flex;
}

.btn-label-add{
  margin: 10px 10px 10px 0;
  padding: 1px 2px 1px 2px;
  color: #000000;
  cursor: pointer;
  font-weight: bold;
  border: solid 1px;
  border-radius: 4px;
}

.btn-remake{
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.btn-remake-name{
  margin: 10px 10px 10px 0;
  padding: 1px 2px 1px 2px;
}

.picture-clear{
  display: none;
  margin: 10px 0 0;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.add-btn:hover{
  color: rgb(184, 184, 184);
}

.parking-add{
  display: flex;
}

.form-check{
  margin: 0 10px;
}