
.detail-contents {
  margin: 0 50px;
}

.list-box-detail {
  padding: 0.5em 1em;
  margin: 2em 1em;
  font-weight: bold;
  border: solid 1px;
  border-radius: 10px;
}

.google-map {
  height: 400px;
  width: 600px;
}

.list-comment-detail {
  padding: 2em 2em;
  font-weight: normal;
  font-size: 16px;
}

.comment-detail {
  display: flex;
  justify-content: space-between;
}

.delete-comment-btn {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0.7;
  font-size: 12px;
  color: red;
}

.comment-area{
  vertical-align: bottom;
  border: 1px solid;
  border-radius: 4px;
}

.add-comment-btn{
  vertical-align: bottom;
  border:none;
  box-shadow:none;
  background:#24a0f3;
  color:#ffffff;
  padding:3px 6px;
  border-radius: 4px;
}

@media only screen and (max-width:600px) {
  .detail-contents {
    margin: 0 8px;
  }
  
  .list-box-detail {
    padding: .5em 1em;
    margin: 1em .5em;
    font-weight: bold;
    border: solid 1px;
    border-radius: 10px;
  }
  
  .google-map {
    height: 180px;
    width: calc(100% - 16px);
  }
  
  .list-comment-detail {
    padding: .5em .5em;
    font-weight: normal;
  }
  
  .comment-detail {
    display: flex;
    justify-content: space-between;
  }
  
  .delete-comment-btn {
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0.7;
    font-size: 12px;
    color: red;
  }

  .comment-area{
    vertical-align: bottom;
    border: 1px solid;
    border-radius: 4px;
  }
  
  .add-comment-btn{
    vertical-align: bottom;
    border:none;
    box-shadow:none;
    background:#24a0f3;
    color:#ffffff;
    margin-top: 8px;
    padding:3px 6px;
    border-radius: 4px;
  }
}