.main-wrapper-margin {
  margin: 0 50px;
}

.search-form {
  display: flex;
}

.select-home{
  height: 30px;
  width: 210px;
}

.list-content{
  display: flex;
  flex-wrap: wrap;
}

.list-box {
  padding: 0.5em 1em;
  margin: 2em 10px;
  font-weight: bold;
  border: solid 1px;
  border-radius: 10px;
}

.image-size{
  height: 282px;
  width: 376px;
  object-fit: cover;
}

@media only screen and (max-width:600px) {
  .main-wrapper-margin {
    margin: 0 8px;
  }
  
  .search-form {
    display: flex;
  }
  
  .select-home{
    height: 24px;
    width: 80px;
  }
  
  .list-content{
    
  }
  
  .list-box {
    padding: 0.5em 1em;
    margin: 1em;
    font-weight: bold;
    border: solid 1px;
    border-radius: 10px;
  }
  
  .image-size{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}